body {
  background-color: lightgray;
  font-family: Arial;
}

h1 {
  color: darkblue;
}

p {
  padding: 10px;
}

nav {
  background-color: black;
  padding: 10px;
}

nav a {
  color: white;
  margin: 10px;
}

.container {
  width: 80%;
  margin: auto;
}
